<html>
  <head>
    <title>Chat</title>
    <style>

      input { display: block; }
      ul    { list-style: none; }

    </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <div id="messages"></div>
    <div class="form-group">
      <form id="chatbox">
        <textarea class="form-control"></textarea>
        <input class="btn btn-primary" type="submit" value="Send" />
      </form>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>

      $(function(){

        let socket = null;
        const msgBox = $("#chatbox textarea");
        const messages = $("#messages");

        $("#chatbox").submit(function(){

          if (!msgBox.val()) return false;
          if (!socket) {
            alert("Error: There is no socket connection.");
            return false;
          }

          socket.send(JSON.stringify({"Message": msgBox.val()}));
          msgBox.val("");
          return false;

        });

        if (!window["WebSocket"]) {
          alert("Error: Your browser does not support web sockets.")
        } else {
          socket = new WebSocket("ws://{{.Host}}/room");
          socket.onclose = function() {
            alert("Connection has been closed.");
          }
          socket.onmessage = function(e) {
            const msg = JSON.parse(e.data)
            messages.append(
              $("<div class='card text-center center-block'>").append(
                $("<div class='card-body'>").append(
                  $("<p class='card-text'>").text(msg.Message)
                ),
                $("<div class='card-footer text-muted'>").text(msg.Name + ": ")
              )
            );
          }
        }

      });

    </script>
  </body>
</html>